/* ------------- */
/*  google fonts */
/* ------------- */
/*  
 *  Rubik, Light 300, Bold 700
 *  font-family: 'Rubik', sans-serif; 
 */
 /* ------------- */
 @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');

body {
    --lightergrey: #f0f0f0;
    --lightgrey: #e6e6e6;
    --black: #000000;
    --barborder: 1px solid #000000;
    --barwidth: 50px;
    --iconfontfamily: 'Rubik', sans-serif;
    --iconfontweight: 500;
    --navlinkfontfamily: 'Rubik', sans-serif;
    --navlinkfontweight: 500;
    --navlinkfontcolor: #000000;

    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: var(--barwidth) 1fr;
    grid-template-rows: var(--barwidth) 1fr;
    grid-template-areas:
      "icon topbar"
      "sidebar main-content";
  }

  .vhcenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #icon {
    grid-area: icon;
    border: var(--barborder);
    padding: 7px;
  }
  
  #topbar {
    border-top: var(--barborder);
    border-right: var(--barborder);
    border-bottom: var(--barborder);
    display: flex;
    justify-content: left;
    align-items: center;
  }
  #sidebar {
    grid-area: sidebar;
    border-right: var(--barborder);
    border-left: var(--barborder);
    border-bottom: var(--barborder);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  #main-content {
    grid-area: main-content;
  }
  #navlist {
    padding-left: 20px;
  }
  #navlist > li {
    display: inline;
    margin-right: 20px;
    font-family: var(--navlinkfontfamily);
    font-weight: var(--navlinkfontweight);
  }
  .navlink {
    color: var(--navlinkfontcolor);
    text-decoration: none;
  }
  .navlink:hover {
    border-bottom: 2px solid #000000;
  }
  .circle {
    height: 100%;
    width: 100%;
    border: var(--barborder);
    border-radius: 50%;
    background-color: var(--black);
    color: #ffffff;
    font-family: var(--iconfontfamily);
    font-weight: var(--iconfontweight);
  }
  #icon-text {
      position: relative;
  }
  #social-icons {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .social-icon {
    box-sizing: border-box;
    padding: 10px;
    color: var(--black);
  }